:root {
  --primary-color: #2563eb;

  --theme-bg: #e7e9ee;
  --theme-surface: #ffffff;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --border-color: #e5e7eb;

  --shadow-lg: 0 12px 32px rgba(0, 0, 0, 0.08);
}

/* =========================
   LIGHT THEME
========================= */

[data-theme="light"] {
  --theme-bg: #f5f7fb;
  --theme-surface: #ffffff;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --border-color: #e5e7eb;
}

/* =========================
   DARK THEME
========================= */

[data-theme="dark"] {
  --theme-bg: #0f172a;

  --theme-surface: #1e293b;

  --text-primary: #f8fafc;

  --text-secondary: #94a3b8;

  --border-color: #334155;

  --shadow-lg: 0 12px 32px rgba(0, 0, 0, 0.4);
}
